* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 1440px;
    display: block;
    margin: auto;
}

html {
    overflow-x: hidden;
}


.navbar {
    display: flex;
    padding: 12px 100px;
    align-items: center;
    background: #0D0D0D;
    justify-content: space-between;
}

.nav_item {
    gap: 35px;
    display: flex;
    align-items: center;
}

.all_button {
    padding: 15px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    background: #FFD2A4;
    backdrop-filter: blur(80px);
    border-radius: 12px;
}

.nav_link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    transition: all .4s ease-in-out;
}

.nav_link a.active {
    color: #FFD2A4;
}

.nav_item li:nth-child(1) {
    padding-right: 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.457);
}








/* //////// */
.all_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}


.all_mt {
    margin-top: 100px;
}

.all_card {
    margin-top: 70px;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.home_card {
    width: 100%;
    position: relative;
    padding: 45px 20px;
    background: #FFF5EB;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.cardHeader {
    text-align: center;
}

.home_card1::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all .4s ease-in-out;
    background: #FFD0A0;
    position: absolute;
}

.home_card1:hover::after {
    height: 20px;
    border-radius: 10px 10px 0 0;
}

.home_card_h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home_card_h3 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

.home_card_p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
    margin-bottom: 30px;
}

.home_card_h4 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #161722;
    margin-bottom: 10px;
}

.join_cards {
    padding: 100px 110px;
    background: #F5F2F0;
}

.card_hover {
    top: 290px;
    padding: 10px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    transition: all .6s ease-in-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.129), black);
    position: absolute;
}

.card_hover h3 {
    color: #FFF;
    font-size: 18px !important;
}

.card_hover p {
    color: #FFF;
}

.card_header:hover .card_hover {
    top: 200px;
}

.card_header {
    position: relative;
    width: 100%;
    height: 384px;
    overflow: hidden;
}

.card_header img {
    width: 100%;
    height: 100%;
}

.card_tree {
    padding: 0 !important;
}

.card_icons {
    gap: 17px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.card_icons img {
    width: 22px;
    height: 22px;
}

.team_card {
    padding: 50px 0;
    background: #F5F2F0;
    text-align: center;
}

.team_card_mt {
    margin-top: 20px;
}

.team_card h3:nth-child(3) {
    margin-top: 8px;
}

.team_card h3:nth-child(2) {
    margin-top: 15px;
}

.team_img img {
    cursor: pointer;
    transition: all .4s ease;
}

.team_img img:hover {
    transform: scale(1.1);
}

.bacom {
    width: 100%;
    padding-left: 100px;
    height: 610px;
    display: flex;
    align-items: center;
    background: url('../public/img/home_img.jpg');
}

.cotact_img {
    background: url('../public/img/contact1.png') center center / cover no-repeat;
}

.bacom_text h1,
h6 {
    color: #FFF;
}

.bacom_text h1 {
    margin: 10px 0 30px 0;
}

.bacom_text h2 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.props_img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}