<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    display: block;
    max-width: 1400px;
}

html,
body {
    overflow-x: hidden;
}
.footer{
    background: #161722;
}
=======
>>>>>>> 4e3767da64c958867564b82da5594a8090906abb
