*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    display: block;
    max-width: 1400px;
}

html,
body {
    overflow-x: hidden;
}
.footer{
    background: #161722;
}